<!DOCTYPE html>
<html>
    <head>
        <title>Users Web App - Register New User</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <h1>Register New User</h1>
        <form method="post">
            <label>Name:</label>
            <input type="text" name="name" required><br>
            <label>Email:</label>
            <input type="email" name="email" required><br>
            <input type="submit" value="Register">
        </form>
    </body>
</html>